<mat-card class="card">
  <mat-card-content>
    <form (submit)="submitHandler($event, 'right', firstInput.value, secondInput.value, thirdInput.value, fourthInput.value)">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{firstFieldLabel}}</mat-label>
        <input matInput [type]="firstType" #firstInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{secondFieldLabel}}</mat-label>
        <input matInput [type]="secondType" #secondInput>
      </mat-form-field>
      <!-- Datepicker -->
      <mat-form-field appearance="fill" class="datepicker">
        <mat-label>{{thirdFieldLabel}}</mat-label>
        <input matInput [matDatepicker]="picker" #thirdInput>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!--  -->
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{fourthFieldLabel}}</mat-label>
        <input matInput [type]="fourthType" #fourthInput>
      </mat-form-field>
      <button type="submit" style="display: none;"></button>
    </form>
  </mat-card-content>
  <mat-card-actions class="button-section">
    <button
      mat-button
      (click)="pressHandler('left', firstInput.value, secondInput.value, thirdInput.value, fourthInput.value)">
        {{leftBtnLabel}}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="pressHandler('right', firstInput.value, secondInput.value, thirdInput.value, fourthInput.value)">
        {{rightBtnLabel}}
    </button>
  </mat-card-actions>
</mat-card>
