<mat-card class="card">
  <mat-card-content>
    <form  (submit)="submitHandler($event, 'right', thirdInput.value)">
      <mat-list role="list" class="form-field">
        <mat-list-item role="listitem">ID: {{firstFieldValue}}</mat-list-item>
        <mat-list-item role="listitem">Servicio: {{secondFieldValue}}</mat-list-item>
      </mat-list>
      
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{thirdFieldLabel}}</mat-label>
        <input matInput [matDatepicker]="picker" #thirdInput>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{fourthFieldLabel}}</mat-label>
        <mat-select  [(value)]="hour">
          <mat-option *ngFor="let hour of hours" [value]="hour.value">
            {{hour.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" style="display: none;"></button>
    </form>
  </mat-card-content>
  <mat-card-actions class="button-section">
    <button
      mat-button
      (click)="pressHandler('left', thirdInput.value)">
        {{leftBtnLabel}}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="pressHandler('right', thirdInput.value)">
        {{rightBtnLabel}}
    </button>
  </mat-card-actions>
</mat-card>
