<div class="register-stylist-area">
    <div>
      <h1 class="text-center">Registrar Estilista</h1>
      <app-register-stylist-form
        firstFieldLabel="Nombre"
        secondFieldLabel="Apellido"
        thirdFieldLabel="Correo electrónico"
        fourthFieldLabel="Teléfono"
        fifthFieldLabel="Hora inicio"
        sixthFieldLabel="Hora fin"
        seventhFieldLabel="Constraseña"
        leftBtnLabel="Volver"
        rightBtnLabel="Registrar"
        (press)="registerStylistBoxHandler($event)">
      </app-register-stylist-form>
    </div>
  </div>
  