<mat-toolbar color="primary" class="toolbar" id="toolbar">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button routerLink="/">
    {{title}}
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button routerLink="/login">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="sidenav" id="sidenav" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <!-- User acctions -->
    <button mat-button class="btn-side-menu" routerLink="/services" (click)="drawer.toggle()">
      Servicios
    </button>
    <button mat-button class="btn-side-menu" routerLink="/list_appointments" (click)="drawer.toggle()">
      Mis citas
    </button>
    <!-- Admin accitions -->
    <button mat-button class="btn-side-menu" routerLink="/register_stylist" (click)="drawer.toggle()" *ngIf="!isNormalUser()">
      Registrar estilista
    </button>
    <button mat-button class="btn-side-menu" routerLink="/addservice" (click)="drawer.toggle()" *ngIf="!isNormalUser()">
      Añadir servicio
    </button>
    <button mat-button class="btn-side-menu" routerLink="/list_appointments_by_day" (click)="drawer.toggle()" *ngIf="!isNormalUser()">
      Lista de citas
    </button>
  </mat-drawer>

  <div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
