<mat-toolbar color="primary" class="toolbar" id="toolbar">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button routerLink="/">
    {{title}}
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button routerLink="/login">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="sidenav" id="sidenav" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <button mat-button class="btn-side-menu">
      Servicios
    </button>
    <button mat-button class="btn-side-menu">
      Ver citas
    </button>
  </mat-drawer>

  <div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
