<h1 class="text-center aligned-item">Administrador de Citas</h1>

<div>
  <div>
    <h2 class="title-text">Selecciona un día</h2>
    <app-select-day-form
      dayFieldLabel= "Elegir fecha"
      rightBtnLabel="Buscar"
      (press)="selectDayBoxHandler($event)">
    </app-select-day-form>
  </div>
</div>

<div class="aligner-container" *ngIf="reservations">
  <app-admin-reservation-card
    class="aligned-item"
    *ngFor="let r of reservations"
    [actions]=actions
    [reservation] = r
    (action)="actionHandler($event)">
  </app-admin-reservation-card>
</div>